## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()
# The target variable in the model is IS_SUCCESSFUL because ndicates whether the funding provided by Alphabet Soup was used effectively or not.
# It is the binary outcome we want to predict: 1 for successful funding usage and 0 for unsuccessful funding usage.
# The features for your model are the remaining columns in the dataset, excluding the target variable.
# These features will be used to train the model to predict the success of funding applications.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each colum.
# Determining the number of data points for each unique value in columns that have more than 10 unique values is useful
# for understanding the distribution of data within those columns.
# This information can provide insights into the frequency and representation of different categories or values in the dataset.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Convert the value count into a dictionary
application_type_counts = application_df["APPLICATION_TYPE"].value_counts().to_dict()
application_type_counts

{'T3': 27037,
 'T4': 1542,
 'T6': 1216,
 'T5': 1173,
 'T19': 1065,
 'T8': 737,
 'T7': 725,
 'T10': 528,
 'T9': 156,
 'T13': 66,
 'T12': 27,
 'T2': 16,
 'T25': 3,
 'T14': 3,
 'T29': 2,
 'T15': 2,
 'T17': 1}

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# The for loop iterates over each application type (atype) in the application_type_counts dictionary.
#if the count of the current application type is less than the "cutoff_value", it appends that application type to the
# application_types_to_replace list
cutoff_value = 527
application_types_to_replace = []
for atype in application_type_counts:
    if application_type_counts[atype] < cutoff_value:
        application_types_to_replace.append(atype)
# Replace in dataframe
# After creating the application_types_to_replace list,
# another for loop is used to replace the application types in the "APPLICATION_TYPE" column of the DataFrame with "Other".
# This ensures that the application types identified in the application_types_to_replace list are replaced accordingly.
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = classification_counts[classification_counts > 1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_counts = application_df["CLASSIFICATION"].value_counts().to_dict()
classifications_counts
cutoff_value_c = 1882
classifications_to_replace = []
for classf in classifications_counts:
    if classifications_counts[classf] < cutoff_value_c:
        classifications_to_replace.append(classf)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df.info()
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']


dummy_df = pd.get_dummies(application_df[categorical_columns], columns=categorical_columns)

dummy_df.info()

application_df.drop(columns=categorical_columns, inplace=True)

application_df.info()

application_df = pd.concat([application_df, dummy_df], axis=1)

application_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   APPLICATION_TYPE_Other        34299 non-null  uint8
 1   APPLICATION_TYPE_T10          34299 non-null  uint8
 2   APPLICATION_TYPE_T19          34299 non-null  uint8
 3   APPLICATION_TYPE_T3           34299 non-null  uint8
 4   APPLICATION_TYPE_T4           34299 non-null  uint8
 5   APPLICATION_TYPE_T5           34299 non-null  uint8
 6   APPLICATION_TYPE_T6           34299 non-null  uint8
 7   APPLICATION_TYPE_T7           34299 non-null  uint8
 8   APPLICATION_TYPE_T8           34299 non-null  uint8
 9   AFFILIATION_CompanySponsored  34299 non-null  uint8
 10  AFFILIATION_Family/Parent     34299 non-null  uint8
 11  AFFILIATION_Independent       34299 non-null  uint8
 12  AFFILIATION_National          34299 non-null  uint8
 13  AFFILIATION_Other             34299 non-null  uint8
 14  AFFILIATION_Regional          34299 non-null  uint8
 15  CLASSIFICATION_C1000          34299 non-null  uint8
 16  CLASSIFICATION_C1200          34299 non-null  uint8
 17  CLASSIFICATION_C2000          34299 non-null  uint8
 18  CLASSIFICATION_C2100          34299 non-null  uint8
 19  CLASSIFICATION_C3000          34299 non-null  uint8
 20  CLASSIFICATION_Other          34299 non-null  uint8
 21  USE_CASE_CommunityServ        34299 non-null  uint8
 22  USE_CASE_Heathcare            34299 non-null  uint8
 23  USE_CASE_Other                34299 non-null  uint8
 24  USE_CASE_Preservation         34299 non-null  uint8
 25  USE_CASE_ProductDev           34299 non-null  uint8
 26  ORGANIZATION_Association      34299 non-null  uint8
 27  ORGANIZATION_Co-operative     34299 non-null  uint8
 28  ORGANIZATION_Corporation      34299 non-null  uint8
 29  ORGANIZATION_Trust            34299 non-null  uint8
 30  INCOME_AMT_0                  34299 non-null  uint8
 31  INCOME_AMT_1-9999             34299 non-null  uint8
 32  INCOME_AMT_10000-24999        34299 non-null  uint8
 33  INCOME_AMT_100000-499999      34299 non-null  uint8
 34  INCOME_AMT_10M-50M            34299 non-null  uint8
 35  INCOME_AMT_1M-5M              34299 non-null  uint8
 36  INCOME_AMT_25000-99999        34299 non-null  uint8
 37  INCOME_AMT_50M+               34299 non-null  uint8
 38  INCOME_AMT_5M-10M             34299 non-null  uint8
 39  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 40  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: uint8(41)
memory usage: 1.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATUS         34299 non-null  int64
 1   ASK_AMT        34299 non-null  int64
 2   IS_SUCCESSFUL  34299 non-null  int64
dtypes: int64(3)
memory usage: 804.0 KB

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  uint8
 4   APPLICATION_TYPE_T10          34299 non-null  uint8
 5   APPLICATION_TYPE_T19          34299 non-null  uint8
 6   APPLICATION_TYPE_T3           34299 non-null  uint8
 7   APPLICATION_TYPE_T4           34299 non-null  uint8
 8   APPLICATION_TYPE_T5           34299 non-null  uint8
 9   APPLICATION_TYPE_T6           34299 non-null  uint8
 10  APPLICATION_TYPE_T7           34299 non-null  uint8
 11  APPLICATION_TYPE_T8           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C2000          34299 non-null  uint8
 21  CLASSIFICATION_C2100          34299 non-null  uint8
 22  CLASSIFICATION_C3000          34299 non-null  uint8
 23  CLASSIFICATION_Other          34299 non-null  uint8
 24  USE_CASE_CommunityServ        34299 non-null  uint8
 25  USE_CASE_Heathcare            34299 non-null  uint8
 26  USE_CASE_Other                34299 non-null  uint8
 27  USE_CASE_Preservation         34299 non-null  uint8
 28  USE_CASE_ProductDev           34299 non-null  uint8
 29  ORGANIZATION_Association      34299 non-null  uint8
 30  ORGANIZATION_Co-operative     34299 non-null  uint8
 31  ORGANIZATION_Corporation      34299 non-null  uint8
 32  ORGANIZATION_Trust            34299 non-null  uint8
 33  INCOME_AMT_0                  34299 non-null  uint8
 34  INCOME_AMT_1-9999             34299 non-null  uint8
 35  INCOME_AMT_10000-24999        34299 non-null  uint8
 36  INCOME_AMT_100000-499999      34299 non-null  uint8
 37  INCOME_AMT_10M-50M            34299 non-null  uint8
 38  INCOME_AMT_1M-5M              34299 non-null  uint8
 39  INCOME_AMT_25000-99999        34299 non-null  uint8
 40  INCOME_AMT_50M+               34299 non-null  uint8
 41  INCOME_AMT_5M-10M             34299 non-null  uint8
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

In [ ]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL']
x = application_df.drop(columns=['IS_SUCCESSFUL'])
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

display(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features=len(X_train.columns)

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_dim=num_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                2816

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 4,929
Trainable params: 4,929
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
num_epochs=100
batch_size=32
nn.fit(X_train_scaled, y_train, epochs=num_epochs, batch_size=batch_size, validation_data=(X_test_scaled, y_test))

Epoch 1/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5701 - accuracy: 0.7212 - val_loss: 0.5657 - val_accuracy: 0.7238
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7305 - val_loss: 0.5609 - val_accuracy: 0.7222
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7320 - val_loss: 0.5605 - val_accuracy: 0.7243
Epoch 4/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7309 - val_loss: 0.5603 - val_accuracy: 0.7265
Epoch 5/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5494 - accuracy: 0.7312 - val_loss: 0.5633 - val_accuracy: 0.7273
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7307 - val_loss: 0.5622 - val_accuracy: 0.7203
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7335 - val_loss: 0.5598 - val_accuracy: 0.7227
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7318 - val_loss: 0.5601 - val_accuracy: 0.7283
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7326 - val_loss: 0.5608 - val_accuracy: 0.7224
Epoch 10/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7337 - val_loss: 0.5573 - val_accuracy: 0.7277
Epoch 11/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7329 - val_loss: 0.5588 - val_accuracy: 0.7261
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7329 - val_loss: 0.5580 - val_accuracy: 0.7274
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7334 - val_loss: 0.5576 - val_accuracy: 0.7219
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7338 - val_loss: 0.5594 - val_accuracy: 0.7194
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7348 - val_loss: 0.5580 - val_accuracy: 0.7258
Epoch 16/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7348 - val_loss: 0.5567 - val_accuracy: 0.7265
Epoch 17/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7356 - val_loss: 0.5560 - val_accuracy: 0.7252
Epoch 18/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5426 - accuracy: 0.7364 - val_loss: 0.5582 - val_accuracy: 0.7246
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7364 - val_loss: 0.5566 - val_accuracy: 0.7277
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7352 - val_loss: 0.5558 - val_accuracy: 0.7267
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7362 - val_loss: 0.5581 - val_accuracy: 0.7255
Epoch 22/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7346 - val_loss: 0.5592 - val_accuracy: 0.7206
Epoch 23/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5413 - accuracy: 0.7369 - val_loss: 0.5558 - val_accuracy: 0.7258
Epoch 24/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5416 - accuracy: 0.7356 - val_loss: 0.5569 - val_accuracy: 0.7289
Epoch 25/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5415 - accuracy: 0.7375 - val_loss: 0.5573 - val_accuracy: 0.7277
Epoch 26/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7367 - val_loss: 0.5567 - val_accuracy: 0.7236
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7367 - val_loss: 0.5578 - val_accuracy: 0.7268
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7373 - val_loss: 0.5591 - val_accuracy: 0.7219
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7367 - val_loss: 0.5576 - val_accuracy: 0.7252
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7362 - val_loss: 0.5591 - val_accuracy: 0.7270
Epoch 31/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7366 - val_loss: 0.5584 - val_accuracy: 0.7280
Epoch 32/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7372 - val_loss: 0.5580 - val_accuracy: 0.7239
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7371 - val_loss: 0.5599 - val_accuracy: 0.7271
Epoch 34/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7369 - val_loss: 0.5571 - val_accuracy: 0.7296
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7376 - val_loss: 0.5581 - val_accuracy: 0.7286
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7373 - val_loss: 0.5580 - val_accuracy: 0.7264
Epoch 37/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7377 - val_loss: 0.5591 - val_accuracy: 0.7262
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7373 - val_loss: 0.5600 - val_accuracy: 0.7287
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7386 - val_loss: 0.5594 - val_accuracy: 0.7219
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7387 - val_loss: 0.5597 - val_accuracy: 0.7255
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7379 - val_loss: 0.5593 - val_accuracy: 0.7251
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7387 - val_loss: 0.5588 - val_accuracy: 0.7258
Epoch 43/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7375 - val_loss: 0.5587 - val_accuracy: 0.7286
Epoch 44/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5385 - accuracy: 0.7382 - val_loss: 0.5604 - val_accuracy: 0.7233
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7384 - val_loss: 0.5590 - val_accuracy: 0.7261
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7393 - val_loss: 0.5586 - val_accuracy: 0.7303
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7377 - val_loss: 0.5616 - val_accuracy: 0.7273
Epoch 48/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5385 - accuracy: 0.7381 - val_loss: 0.5598 - val_accuracy: 0.7283
Epoch 49/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7383 - val_loss: 0.5574 - val_accuracy: 0.7252
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7381 - val_loss: 0.5617 - val_accuracy: 0.7257
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7387 - val_loss: 0.5612 - val_accuracy: 0.7286
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7392 - val_loss: 0.5609 - val_accuracy: 0.7262
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7389 - val_loss: 0.5595 - val_accuracy: 0.7257
Epoch 54/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7389 - val_loss: 0.5582 - val_accuracy: 0.7251
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7377 - val_loss: 0.5600 - val_accuracy: 0.7262
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7382 - val_loss: 0.5611 - val_accuracy: 0.7255
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7381 - val_loss: 0.5602 - val_accuracy: 0.7262
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7388 - val_loss: 0.5585 - val_accuracy: 0.7268
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7390 - val_loss: 0.5598 - val_accuracy: 0.7286
Epoch 60/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7393 - val_loss: 0.5606 - val_accuracy: 0.7261
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7396 - val_loss: 0.5623 - val_accuracy: 0.7273
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7385 - val_loss: 0.5593 - val_accuracy: 0.7276
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7383 - val_loss: 0.5595 - val_accuracy: 0.7270
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7387 - val_loss: 0.5612 - val_accuracy: 0.7254
Epoch 65/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7394 - val_loss: 0.5627 - val_accuracy: 0.7219
Epoch 66/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7388 - val_loss: 0.5609 - val_accuracy: 0.7241
Epoch 67/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7389 - val_loss: 0.5621 - val_accuracy: 0.7214
Epoch 68/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7392 - val_loss: 0.5616 - val_accuracy: 0.7245
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7393 - val_loss: 0.5618 - val_accuracy: 0.7287
Epoch 70/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7384 - val_loss: 0.5651 - val_accuracy: 0.7273
Epoch 71/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7380 - val_loss: 0.5615 - val_accuracy: 0.7276
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7388 - val_loss: 0.5617 - val_accuracy: 0.7271
Epoch 73/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7407 - val_loss: 0.5646 - val_accuracy: 0.7242
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7385 - val_loss: 0.5629 - val_accuracy: 0.7258
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7395 - val_loss: 0.5641 - val_accuracy: 0.7254
Epoch 76/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7385 - val_loss: 0.5617 - val_accuracy: 0.7281
Epoch 77/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7396 - val_loss: 0.5642 - val_accuracy: 0.7243
Epoch 78/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7386 - val_loss: 0.5643 - val_accuracy: 0.7278
Epoch 79/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7391 - val_loss: 0.5637 - val_accuracy: 0.7241
Epoch 80/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5357 - accuracy: 0.7390 - val_loss: 0.5631 - val_accuracy: 0.7289
Epoch 81/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7395 - val_loss: 0.5646 - val_accuracy: 0.7243
Epoch 82/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7384 - val_loss: 0.5642 - val_accuracy: 0.7249
Epoch 83/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7402 - val_loss: 0.5649 - val_accuracy: 0.7224
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7391 - val_loss: 0.5632 - val_accuracy: 0.7257
Epoch 85/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7403 - val_loss: 0.5662 - val_accuracy: 0.7268
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7392 - val_loss: 0.5657 - val_accuracy: 0.7259
Epoch 87/100
858/858 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7395 - val_loss: 0.5665 - val_accuracy: 0.7261
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7394 - val_loss: 0.5662 - val_accuracy: 0.7259
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7400 - val_loss: 0.5633 - val_accuracy: 0.7262
Epoch 90/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7397 - val_loss: 0.5647 - val_accuracy: 0.7261
Epoch 91/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7393 - val_loss: 0.5633 - val_accuracy: 0.7243
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7396 - val_loss: 0.5664 - val_accuracy: 0.7223
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7384 - val_loss: 0.5658 - val_accuracy: 0.7277
Epoch 94/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7389 - val_loss: 0.5640 - val_accuracy: 0.7261
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7397 - val_loss: 0.5663 - val_accuracy: 0.7259
Epoch 96/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5345 - accuracy: 0.7394 - val_loss: 0.5664 - val_accuracy: 0.7241
Epoch 97/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7394 - val_loss: 0.5661 - val_accuracy: 0.7270
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7398 - val_loss: 0.5712 - val_accuracy: 0.7242
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7402 - val_loss: 0.5659 - val_accuracy: 0.7259
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7399 - val_loss: 0.5653 - val_accuracy: 0.7277

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5653 - accuracy: 0.7277 - 284ms/epoch - 1ms/step
Loss: 0.5653175711631775, Accuracy: 0.7276967763900757

In [ ]:
# Export our model to HDF5 file

model_filename = "AlphabetSoupCharity.h5"

nn.save(model_filename)